body {
    font-family: Arial, sans-serif, 'poppins';
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    text-align: center;
    
    
}

.wrapper {
  width: 90%;           /* agar tidak terlalu melebar */
  max-width: 1200px;    /* batas lebar maksimal */
  margin: 0 auto;       /* posisikan di tengah */
  background-color: #fff; /* opsional: bisa kasih warna */
  border-radius: 20px;  /* biar kelihatan rounded */
  box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* bayangan lembut */
  padding: 20px;
}

/* HEADER */
.header {
    text-align: center;
    background-color: #20036e;
    padding: 0px 0;
}

.header img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}


/* Navigasi */
.navbar {
    background-color: #ffffff;
    border-top: 2px solid #170042;
    border-bottom: 2px solid #230052;
    padding: 15px 0;
}

.navbar a {
    color: #ffffff;
    background-color: #030c3f;
    margin: 0 5px;
    padding: 8px 20px;
    text-decoration: none;
    border: 3x solid #ffffff;
    border-radius: 20px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #fff;
    color: #333;
}

/* Konten */
.content {
    padding: 80px;
}

.content h2 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 40px;
    text-align: left;
}

.content p {
    font-size: 20px;
    color: #444;
    margin-bottom: px;
    text-align:left;
}

.image-slider {
  display: flex;
  overflow-x: auto; /* Bisa digeser ke kanan */
  scroll-behavior: smooth;
  gap: 10px; /* Jarak antar foto */
  padding: 10px;
}

.image-slider img {
  width: 200px; /* Ukuran foto */
  height: 150px;
  object-fit: cover; /* Menjaga proporsi gambar */
  border-radius: 10px;
  flex-shrink: 0; /* Agar gambar tidak mengecil */
  
}

.image-slider::-webkit-scrollbar {
  display: none; /* Sembunyikan scrollbar agar lebih bersih */
}

/* LOGO FIXED DI KIRI ATAS */
.logo-header {
  position: fixed;
  top: 0px;
  left: 20px;
  z-index: 1000;
}

.logo-header .logo {
  height: 80px; /* ubah sesuai ukuran yang kamu mau */
  width: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
html {
  scroll-behavior: smooth;
}


